.homepage_section{
       margin-top: 5rem;

        .services_list{
            ul{
                display: flex;
                border: .1rem solid black;

                li{
                    padding: .5rem;
                    list-style: none;
                }
            }

            .service_description{

                .service_card{
                display: flex;
                justify-content: center;
                align-items: center;
                .card_image{
                    img{
                        width: 100%;
                        height: 150px;
                    }
                }
                
                    .card_title{
                        padding:  .2rem 1rem;
                        font-size:1rem;
                        font-weight: 600;
                       
                    }
                
                    .card_description{
                        border: .1rem solid #000;
                        font-size: 15px;
                        background-color: rgb(241, 215, 241);
                        padding: 1rem;
                    }
            }
            }

        }

        
    }
